<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>admin</title>
</head>
<body>
    <button onclick='send()'>send</button>
    <script>
        function send(){
            var xhr = new XMLHttpRequest()
            xhr.open('get','/blog')
            xhr.onreadystatechange=function(){
                if(xhr.readyState == 4){
                    if(xhr.status==200){
                        console.log(xhr.response)
                    }else{
                        errorMessage.innerHTML='内部错误'
                    }
                }
            }
            xhr.send(null) 
        }
    </script>
</body>
</html>